@import url("https://fonts.googleapis.com/css?family=Mulish");

.title {
    width: 500px;
    height: 70px;
    padding-top: 138px;
    font-weight: 400;
    font-size: 68px;
    font-family: 'Mulish';
}

.subheading {
    padding-top: 100px;
    width: 264px;
    height: 70px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
}