<button class="button-topright" (click)="onLogout()">Logout</button>

<div align="center">
  <h1 class="title">CodeChamp</h1>
</div>

<div class="button-container">
  <div class="button-padding">
    <button class="long-button" (click)="createGame()">Create Game</button>
  </div>

  <div class="button-padding short-button-flex">
    <form style="padding-right: 12px">
      <input
        class="join-input"
        id="joinGameFormControl"
        type="text"
        [formControl]="joinGameFormControl"
      />
    </form>
    <button class="short-button" (click)="joinGame()">Join Game</button>
  </div>

  <div class="button-padding">
    <button class="long-button" (click)="ws.findGame()">Find Game</button>
  </div>

  <div class="button-padding">
    <button class="long-button" (click)="gotoProfile()">My Profile</button>
  </div>

  <div class="button-padding">
    <button class="long-button" (click)="gotoLeaderboard()">Leaderboard</button>
  </div>
</div>
