<div class="iconcontainer">
  <button mat-fab class="share">
    <mat-icon>share</mat-icon>
  </button>
</div>

<div class="center">
  <pre><h1 style="font-size:400%"><b>

Welcome to CodeChamp!
</b></h1></pre>
</div>

<div class="buttoncontainer">
  <div
    style="
      position: absolute;
      opacity: 1;
      transform: translateX(0%) translateZ(0px);
    "
  >
    <div class="css-k7avfg">Start Game</div>
    <div class="MuiBox-root css-k7avfg">Host room</div>
    <div class="MuiBox-root css-1lddri5">
      <div class="MuiBox-root css-1kz5yfv">
        <svg
          class="MuiSvgIcon-root MuiSvgIcon-fontSizeLarge css-6flbmm"
          focusable="false"
          aria-hidden="true"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
          ></path>
        </svg>
      </div>
      <div class="MuiBox-root css-1jqn12">Login</div>
      <svg
        class="MuiSvgIcon-root MuiSvgIcon-fontSizeLarge settings css-118vey5"
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
        data-testid="ChevronRightIcon"
      >
        <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
      </svg>
    </div>
    <div class="MuiBox-root css-5dom64">
      <button class="MuiButtonBase-root css-1oei957" tabindex="0" type="button">
        <svg
          class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-3pgpby"
          focusable="false"
          aria-hidden="true"
          viewBox="0 0 24 24"
          data-testid="QuestionMarkIcon"
        >
          <path
            d="M11.07 12.85c.77-1.39 2.25-2.21 3.11-3.44.91-1.29.4-3.7-2.18-3.7-1.69 0-2.52 1.28-2.87 2.34L6.54 6.96C7.25 4.83 9.18 3 11.99 3c2.35 0 3.96 1.07 4.78 2.41.7 1.15 1.11 3.3.03 4.9-1.2 1.77-2.35 2.31-2.97 3.45-.25.46-.35.76-.35 2.24h-2.89c-.01-.78-.13-2.05.48-3.15zM14 20c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2z"
          ></path>
        </svg>
      </button>
      <div class="MuiBox-root css-kkuen6">Settings</div>
    </div>
    <div class="MuiBox-root css-k7avfg">Coming Soon</div>
  </div>
</div>
