<button class="button-topright"> Logout</button>

<div align="center">
  <h1 class="title"> CodeChamp </h1>
</div>

<div class="button-container">
  <div class="button-padding">
    <button class="long-button" (click)="createGame()"> Create Game </button>
  </div>

  <div class="button-padding short-button-flex">
    <button class="short-button" (click)="joinGame()"> Join Game
    </button>
    <form style="padding-left: 12px;">
      <input class="join-input" id="joinGameFormControl" type="text" [formControl]="joinGameFormControl">
    </form>
  </div>

  <div class="button-padding">
    <button class="long-button" (click)="ws.findGame()"> Find Game </button>
  </div>

  <div class="button-padding">
    <button class="long-button"> My Profile </button>
  </div>

  <div class="button-padding">
    <button class="long-button"> Leaderboard </button>
  </div>
</div>

<!-- <div class="button-container">
  <div style="
      position: absolute;
      opacity: 1;
      transform: translateX(0%) translateZ(0px);
    ">
    <div class="round-button" (click)="createGame()">Create Game</div>
    <div class="round-button" (click)="ws.findGame()">Find Game</div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Lobby Code" #lobbyCode />
    </mat-form-field>
    <button mat-button [disabled]="!lobbyCode.value" [routerLink]="['/lobby/' + lobbyCode.value]">
      Join Game
    </button>
    <div class="login-button" (click)="onLogout()">
      <div class="login-icon">
        <button mat-fab class="person-background">
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <div class="login-text">Logout</div>
      <svg fill="white" viewBox="0 0 24 24">
        <path class="right-arrow" d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
      </svg>
    </div>
  </div>
</div> -->