<div style="padding: 20px; padding-top: 30px">
  <h2 class="mat-h2">
    {{ problem.name }}
  </h2>
  <div class="problem-info">
    <mat-chip-list style="margin-right: 15px">
      <mat-chip selected [color]="chipColor">{{ problem.difficulty }}</mat-chip>
    </mat-chip-list>
    <mat-icon matTooltip="Time Limit" fontIcon="alarm"></mat-icon>
    <p style="margin: 3px">{{ timeLimitSeconds }} seconds</p>
    <mat-icon matTooltip="Memory Limit" style="margin-left: 12px" fontIcon="memory"></mat-icon>
    <p style="margin: 3px">{{ problem.memory_limit }} MB</p>
  </div>

  <p>{{ problem.description }}</p>


  <div class="padding" *ngFor="let testcase of problem.test_cases; index as i;">
    <h3><strong>Test case {{i + 1}}:</strong></h3>
    <mat-card class="card mat-elevation-z0">
      <p><strong>Input:</strong> {{testcase.input}}</p>
      <p><strong>Output:</strong> {{testcase.output}}</p>
    </mat-card>
  </div>

</div>