.mat-success {
  background-color: #1ea822;
  color: rgb(255, 255, 255);
}

.mat-orange {
  background-color: #dfa041;
  color: rgb(255, 255, 255);
}

.problem-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.card {
  background-color: rgb(245, 245, 245);
  width: 50%;
  border-radius: 15px;
  border-color: transparent;
}


.padding {
  margin-top: 50px;
}