.mat-success {
  background-color: #1ea822;
  color: rgb(255, 255, 255);
}

.mat-orange {
  background-color: #dfa041;
  color: rgb(255, 255, 255);
}

.problem-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
