<div class="centered" *ngIf="!submissions || submissions.length === 0">
  <mat-icon color="primary" style="transform: scale(3); margin: 25px"
    >code_off</mat-icon
  >
  <h2 class="headline-2">No submissions found.</h2>
  <div style="text-align: center" class="mat-subtitle">
    We couldn't find any submissions for this problem.
  </div>
  <div style="text-align: center" class="mat-subtitle">
    Click the submit button in the bottom right corner to test out your
    solution!
  </div>
</div>
<div *ngIf="submissions && submissions.length > 0">
  <mat-expansion-panel *ngFor="let submission of submissions; index as i">
    <mat-expansion-panel-header>
      <mat-panel-title
        class="mat-body-strong {{ getSubmissionColor(submission) }}"
      >
        {{ submission.result }}
      </mat-panel-title>
      <mat-panel-description>
        ({{ submission.language }})
        {{ submission.submittedAt | date: 'shortTime' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngIf="submission.additionalInfo" class="code">
      {{ submission.additionalInfo }}
    </p>
    <p class="code">{{ getFormattedCode(submission) }}</p>
  </mat-expansion-panel>
</div>
