.leave-button {
  box-sizing: border-box;

  position: absolute;
  width: 92px;
  height: 33px;
  left: 24px;
  top: 18px;

  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.title {
  width: 500px;
  height: 70px;
  padding-top: 50px;
  font-weight: 400;
  font-size: 58px;
  font-family: 'Mulish';
  color: white;
}

.playerDiv {
  margin: auto;
  margin-top: 40px;
  width: 300px;
}

.player-img {
  border-radius: 50%;
  width: 45.22px;
  height: 45.22px;
  float: left;
  margin-top: 20px;
}

.player-name {
  color: #ffffff;
  font-family: 'Mulish';
  float: right;
  font-size: 40px;
  margin-top: 20px;
}

/* Pattern styles */
.container {
  display: grid;
  max-width: 100%;
  align-items: center;
  margin-top: 100px;
  margin-left: 2%;
  margin-right: 2%;
  grid-template-columns: 35% 58%;
  column-gap: 2%;
}

.left-half {
  background: rgba(255, 255, 255, 0.05);
  grid-column: 1;
}

.right-half {
  grid-column: 2;
  height: 600px;
  overflow-y: scroll;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.right-half {
  scrollbar-width: 14px;
  scrollbar-color: white transparent;
}

/* Chrome, Edge, and Safari */
.right-half::-webkit-scrollbar {
  width: 30px;
}

.right-half::-webkit-scrollbar-track {
  background: transparent;
}

.right-half::-webkit-scrollbar-thumb {
  background-color: white;
  background-clip: padding-box;
  border-radius: 30px;
  border: 13px solid transparent;
}

.stats-title {
  background: transparent;
  padding-left: 35%;
  padding-bottom: 5%;
  font-weight: 400;
  font-size: 38px;
  font-family: 'Mulish';
  color: white;
}

.stats-card {
  width: 100%;
  height: 600px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #ffffff;
  color: white;
  float: left;
  align-items: center;
}

.stat-text1 {
  font-family: 'Mulish';
  padding-left: 2%;
  padding-top: 3%;
  font-size: 30px;
}

.stat-text2 {
  font-family: 'Mulish';
  padding-left: 10%;
  padding-top: 2%;
  font-size: 25px;
}

.match-history-card {
  margin-bottom: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #ffffff;
  color: white;
}

.green {
  color: rgb(12, 211, 12);
  font-weight: 700;
}

.red {
  color: rgb(253, 71, 71);
  font-weight: 700;
}

.history-text {
  font-family: 'Mulish';
  padding-left: 2%;
  padding-top: 1%;
  font-size: 30px;
  padding-top: 10px;
}

.history-text1 {
  font-family: 'Mulish';
  padding-left: 12%;
  padding-bottom: 1%;
  padding-top: 1%;
  font-size: 25px;
  color: white;
}
