<button class="leave-button" (click)="leave()">Back</button>
<div align="center">
  <h1 class="title">CodeChamp</h1>
</div>
<div align="center">
  <h1 class="title">Player1</h1>
</div>
<section class="container">
  <p class="stats-title">Stats</p>
  <p class="stats-title">Match History</p>
  <div class="left-half">
    <mat-card class="stats-card">
        <h1 class="stat-text1">Wins: 10</h1>
        <h1 class="stat-text1">Loss: 20</h1>
        <h1 class="stat-text1">Problem solved: 30</h1>
        <h1 class="stat-text2">Easy: 10</h1>
        <h1 class="stat-text2">Medium: 10</h1>
        <h1 class="stat-text2">Hard: 10</h1>
    </mat-card>
  </div>


  <div class="right-half">
    <mat-card class="match-history-card"><h1 class="history-text">1ST &nbsp; &nbsp; &nbsp; &nbsp; TWO SUM, FIZZBUZZ</h1></mat-card>
    <mat-card class="match-history-card"><h1 class="history-text">1ST &nbsp; &nbsp; &nbsp; &nbsp; TWO SUM, FIZZBUZZ</h1></mat-card>
    <mat-card class="match-history-card"><h1 class="history-text">1ST &nbsp; &nbsp; &nbsp; &nbsp; TWO SUM, FIZZBUZZ</h1></mat-card>
    <mat-card class="match-history-card"><h1 class="history-text">1ST &nbsp; &nbsp; &nbsp; &nbsp; TWO SUM, FIZZBUZZ</h1></mat-card>
    <mat-card class="match-history-card"><h1 class="history-text">1ST &nbsp; &nbsp; &nbsp; &nbsp; TWO SUM, FIZZBUZZ</h1></mat-card>
  </div>
</section>
