<mat-form-field class="lang-dropdown" appearance="outline">
  <mat-select [(value)]="selectedLanguage">
    <mat-option *ngFor="let language of dropdownLanguages" [value]="language">
      {{ language.displayName }}
    </mat-option>
  </mat-select>
</mat-form-field>

<ngs-code-editor
  class="editor"
  [theme]="theme"
  [codeModel]="codeModel"
  [options]="options"
  (valueChanged)="onCodeChanged($event)"
>
</ngs-code-editor>
<div class="submission-row">
  <button
    [disabled]="submissionPending || submissionResult?.correct"
    style="width: 100px; height: 40px"
    mat-flat-button
    color="success"
    (click)="submitCode()"
  >
    Submit
  </button>
  <mat-spinner
    *ngIf="submissionPending"
    style="margin: 10px"
    [diameter]="25"
    color="primary"
  ></mat-spinner>
  <p
    *ngIf="!submissionPending && submissionResult"
    class="mat-body-strong {{ submissionColor }}"
    style="margin: 10px"
    color="success"
  >
    {{ submissionResult.result }}
  </p>
</div>
