.editor {
  height: 81vh;
}

.mat-success {
  background-color: #1ea822;
  color: rgb(255, 255, 255);
}

.success-text {
  color: #1ea822;
}

.wrong-text {
  color: rgb(189, 48, 48);
}

.submission-row {
  margin: 15px;
  display: flex;
  flex-direction: row-reverse;
}

.lang-dropdown {
  margin-top: 3px;
  margin-bottom: -15px;
  width: 120px;
  font-size: 14px;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 8px 0 0 8px !important;
  min-width: 8px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 8px 8px 0 !important;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
