<ngs-code-editor
  class="editor"
  [theme]="theme"
  [codeModel]="codeModel"
  [options]="options"
  (valueChanged)="onCodeChanged($event)"
>
</ngs-code-editor>
<div class="row" style="float: right; margin: 10px">
  <mat-spinner
    *ngIf="submissionPending"
    style="margin: 10px"
    [diameter]="25"
    color="primary"
  ></mat-spinner>
  <button
    [disabled]="submissionPending"
    style="width: 100px; height: 40px;"
    mat-flat-button
    (click)="submitCode()"
  >
    Submit
  </button>
</div>
