.editor {
  height: 85vh;
}

.mat-success {
  background-color: #1ea822;
  color: rgb(255, 255, 255);
}

.success-text {
  color: #1ea822;
}

.wrong-text {
  color:rgb(189, 48, 48)
}

.submission-row {
  margin: 15px;
  display: flex;
  flex-direction: row-reverse;
}
