.mat-toolbar {
  background: #000000;
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
}

.timer {
  position: fixed;
  top: 6px;
  right: 50%;
  transform: translateX(50%) translateX(12px);
  border-radius: 4px;
  padding: 1rem 1.5rem;
  background: linear-gradient(
    248.93deg,
    rgba(45, 42, 176, 0.7) 14.74%,
    rgba(49, 96, 151, 0.7) 91.26%
  );
  background-color: white;
  color: white;
  font-size: 1.5rem;
}
