h2 {
  padding: 0;
}

.game-id {
  padding-top: 10px;
  font-size: 30px;
  height: 55px;
  font-weight: 800;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 310px);
  padding-top: 20px;
}

.grid-padding {
  padding-right: 16%;
  padding-left: 16%;
}

.player-img {
  border-radius: 50%;
  width: 45.22px;
  height: 45.22px;
}

.profile-card {
  width: 310.62px;
  height: 78.11px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #ffffff;
  color: white;
  float: left;

  display: grid;
  align-items: center;
  grid-template-columns: 10px 200px;
  column-gap: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.player-name {
  color: #ffffff;
  font-family: 'Mulish';
}

.title {
  width: 500px;
  height: 70px;
  left: calc(50% - 214px / 2);
  top: calc(50% - 70px / 2 - 328px);

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 70px;
  /* identical to box height, or 194% */

  color: #ffffff;
}

.button-topleft {
  box-sizing: border-box;

  position: absolute;
  width: 92px;
  height: 33px;
  left: 24px;
  top: 18px;

  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.button-bottom {
  box-sizing: border-box;

  width: 374px;
  height: 60px;
  left: calc(50% - 374px / 2);
  top: calc(50% - 60px / 2 + 304px);

  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 10px;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 70px;
  /* or 292% */

  color: #ffffff;

  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.button-bottom.disabled {
  border: 2px solid #b1b1b1;
  color: #b1b1b1;
}

.code-text {
  font-family: 'Mulish';
  font-style: normal;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 70px;
  padding-top: 78px;
}

.button-bottom:hover:not(.disabled) {
  border-color: rgb(2, 2, 2);
}

.button-topleft:hover {
  border-color: rgb(2, 2, 2);
}

.copy-icon {
  padding-bottom: 0.5%;
}

.copy-icon:hover {
  border-color: black;
  cursor: pointer;
}

.lobby-title {
  width: 500px;
  height: 70px;
  left: calc(50% - 214px / 2);
  top: calc(50% - 70px / 2 - 328px);

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 70px;
  /* identical to box height, or 194% */

  color: #ffffff;
}
