<button class="button-topleft" (click)="leave()">Leave</button>

<div align="center">
  <h1 class="title">CodeChamp Lobby</h1>
  <h1 class="lobby-title"> Players: {{numOfPlayers}} /20</h1>

  <div class="grid grid-padding">
    <div *ngFor="let player of players">
      <mat-card class="profile-card">
        <img class="player-img" src="{{ player.picture }}" />
        <h1 class="player-name">{{ player.name }}</h1>
      </mat-card>
    </div>
  </div>

  <h1 class="code-text">
    Code: {{ id }}
    <img class="copy-icon" src="assets/img/content_copy.png" (click)="copyCode()" />
  </h1>

  <button class="button-bottom" (click)="startGame()">
    <div style="padding-left: 150px">Start</div>
  </button>
</div>