h2 {
    padding: 0;
}

.game-id {
    padding-top: 10px;
    font-size: 30px;
    height: 55px;
    font-weight: 800;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, minmax(240px, 1fr));
}

.grid-padding {
    padding-right: 15%;
    padding-left: 15%;
}

.round-button {
    border-radius: 20px;
    background: transparent;
    padding: 12px;
    width: 400px;
    max-width: 80vw;
    height: 55px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #000000;
    font-weight: 800;
    margin: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border: 7px solid;
    border-color: #000000;
    float: left;
}

img {
    border-radius: 50%;
    width: 75px;
    height: auto;
}

.profile-card {
    border-radius: 5%;
    max-width: 175px;
    background-color: #000000;
}


.buttons {
    display: flex;
    justify-content: center;
}


.player-name {
    color: #ffffff;
}